---
import '@styles/global.css';

interface Props {
  title?: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = "A framework for 3D geospatial web applications.",
  image = `${Astro.url.origin}/og-image.png`, // TODO: slop link
} = Astro.props;
// TODO: Better handling of title
const siteTitle = 'iTowns';
const fullTitle = title === siteTitle ? title : `${title} | ${siteTitle}`;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <title>{fullTitle}</title>

    <!-- Social media meta tags (TODO: og:site_name, assert those tags exist) -->
    <meta property="og:title" content={fullTitle} />
    <meta property="og:url" content={Astro.url.href} />
    <meta property="og:type" content="website" />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url.href} />
    <meta property="twitter:title" content={fullTitle} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={image} />

    <!-- Sitemap (TODO) + RSS feed (TODO) -->
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <body>
    <slot />
  </body>

</html>

